.root
{

    -fx-background-color: linear-gradient(from 400px 400px to 800px 800px, #303f9f,#5c6bc0);
    -fx-font-size: 14pt;
    -fx-background-radius: 10px;
}

#searchLabel
{
    -fx-background-color:
            #000000,
            linear-gradient(#72b804, #c5e88e);
    -fx-background-insets: 2;
    -fx-background-radius: 6px;
    -fx-padding: 5 20;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px bold;
    -fx-spacing:20;
    -fx-spacing:20;
}

#header
{
    -fx-font-size: 30pt;
}
.button{
    -fx-background-color:
            #000000,
            linear-gradient(#72b804, #c5e88e);
    -fx-background-insets: 2;
    -fx-background-radius: 6px;
    -fx-padding: 10 30;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px bold;
    -fx-spacing:30;

}
.button:hover {

    -fx-background-color: linear-gradient(#000000, #FFFFFF);

}